p {
  font-size: 16pt;
  margin-bottom: 30%;
}
.horizontal-scroll {
  background-color: #a9a9a9;
  overflow: hidden;
  overflow-x: scroll;
  overflow-y: hidden;
  white-space: nowrap;
  padding: 30px 0;
  overflow: hidden;
  transition: 1s ease;
}
.item {
  height: 400px;
  border: 1px solid #333;
  display: inline-block;
  width: 350px;
  background-color: #f5f5f5;
  text-align: center;
  padding: 50px 30px;
  font-size: 20px;
  margin: 0 10px;
}
